:root {
	font-size: 16px;
	--font-color: #29292e;
	--gray: #9b9b9b;
	--lightGray: #e9e9e9;
	--white: #ffffff;
	--grayish: rgb(252, 253, 254);
	--lightBlueGrey: #d7dbe6;
	--darkBlueGrey: #394867;
	--transition: 0.2s ease;
	--select-color: hsl(191, 62%, 62%);
}

html {
	font-size: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

*::selection {
	color: var(--select-color);
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--grayish);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
