:root {
  font-size: 16px;
  --font-color: #29292e;
  --gray: #9b9b9b;
  --lightGray: #e9e9e9;
  --white: #ffffff;
  --grayish: #ececec;
  --lightBlueGrey: #bbbfca;
  --darkBlueGrey: #394867;
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
